<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Activities & Project Costing
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice-dollar text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Number of Projects</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartactivitiescosting1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Projects Progress</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartactivitiescosting2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h5 class="h3 mt-2 mb-0">List of Programs</h5>
            </div>
            <div class="col-md-6 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="openModal(createUser)"
              >
                Add New
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-xl-12">
              <div class="form-group">
                <label for="exampleFormControlSelect2">Search Project</label>
                <select class="form-control" id="exampleFormControlSelect2">
                  <option selected>Choose</option>
                  <option value="1">Type</option>
                  <option value="2">Status</option>
                  <option value="3">Name</option>
                </select>
              </div>
            </div>

            <div class="col-xl-12 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">List View of Projects</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Program ID</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.accNo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Name</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Type</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.type }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.status == 'active'"
                    class="badge badge-pill badge-success"
                    >Active</span
                  >
                  <span
                    *ngIf="row.status == 'unactive'"
                    class="badge badge-pill badge-warning"
                    >Unactive</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Action</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                            <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                        </button> -->
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(createUser)"
                  >
                    <span class="btn-inner--icon">
                      <i class="far fa-eye"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Delete"
                    (click)="delete()"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-trash"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Add Account Receivable
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <label for="exampleProgramID">Program ID</label>
            <input
              type="total"
              class="form-control"
              id="exampleTotal"
              placeholder="eg PRG-CS-240"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4">
            <label for="exampleName">Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="eg Short Term Program"
              id="exampleName"
            />
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <label class="my-1 mr-2" for="type1">Type</label>
            <select
              class="form-select"
              id="type2"
              aria-label="Default select example"
            >
              <option selected>Choose</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4">
            <p class="font-weight-bold">Status</p>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios3"
                id="exampleRadios3"
                value="option3"
                checked
              />
              <label class="form-check-label" for="exampleRadios3">
                Active
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios4"
                id="exampleRadios4"
                value="option4"
                checked
              />
              <label class="form-check-label" for="exampleRadios4">
                Inactive
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <label for="textarea2">Description</label>
            <textarea
              class="form-control"
              placeholder="Enter your message..."
              id="textarea2"
              rows="2"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="successSwal(saved)">
      Save
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
