<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="text-muted text-uppercase ls-1 mb-1">
                Outstanding & Overdue Revenue
              </h5>

              <h5 class="h3 mt-2 mb-0">RM10,458</h5>

              <p class="mt-3 mb-0 text-sm">
                <span class="text-nowrap"> Total Outstanding </span>

                <span class="text-success mr-2">
                  <i class="fa fa-arrow-up"> </i> 10.48%
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdashboard1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Total Profit</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdashboard2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Profit vs Revenue</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdashboard3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0"> Total Expense </h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdashboard4"></div>
          </div>
        </div>
      </div>
    </div>

	<div class="col-xl-6">
		<div class="card">
		  <div class="card-header bg-secondary">
			<div class="row align-items-center">
			  <div class="col">
				<h5 class="h3 mt-2 mb-0"> Assets </h5>
			  </div>
			</div>
		  </div>
  
		  <div class="card-body">
			<div class="chart">
			  <div class="amchart" id="chartdashboard5"></div>
			</div>
		  </div>
		</div>
	  </div>
  </div>
</div>
