<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">General Ledger</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-alt text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">General Ledger Total</h2>
                    <h3 class="h3 mb-1">2,302</h3>
                  </div>

                  <div class="small mt-2">
                    <span class="fas fa-angle-up text-success"></span>
                    <span class="text-success font-weight-bold"> 28.2%</span>
                    Since last month
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Total of Completed General Ledger</h2>
                    <h3 class="h3 mb-1">308</h3>
                  </div>

                  <div class="small mt-2">
                    <span class="fas fa-angle-up text-success"></span>
                    <span class="text-success font-weight-bold"> 76.2%</span>
                    Since last month
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Total of Overdue General Ledger</h2>
                    <h3 class="h3 mb-1">867</h3>
                  </div>

                  <div class="small mt-2">
                    <span class="fas fa-angle-up text-success"></span>
                    <span class="text-success font-weight-bold"> 5.12%</span>
                    Since last month
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">No. of Journals</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartgeneral1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">No. of Accounts</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartgeneral2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Search Ledger</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="example-date-input2" class="form-control-label"
                  >Pick Range Date</label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-calendar-grid-58"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    bsDaterangepicker
                    [(ngModel)]="bsRangeValue"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-red'
                    }"
                    name="bsDaterangepicker"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Sort By</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option hidden selected>Choose</option>
                  <option value="1">Debit</option>
                  <option value="2">Credit</option>
                  <option value="3">Net Movement</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 text-right mt-4">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">General Ledger</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Acc No.</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.accNo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Debit (RM)</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.debit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Credit (RM)</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.credit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Net Movement</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.netMove }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Action</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                        <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                    </button> -->
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(createUser)"
                  >
                    <span class="btn-inner--icon">
                      <i class="far fa-eye"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Delete"
                    (click)="delete()"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-trash"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      General Ledger
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <table class="table table-centered table-nowrap mb-0 rounded">
      <thead class="thead-light">
        <tr>
          <th class="border-0">No.</th>
          <th class="border-0">Type</th>
          <th class="border-0">Reason</th>
        </tr>
      </thead>
      <tbody>
        <!-- Item -->
        <tr>
          <td>1</td>
          <td>debtor</td>
          <td>Reason 1</td>
        </tr>
        <!-- End of Item -->

        <!-- Item -->
        <tr>
          <td>2</td>
          <td>creditor</td>
          <td>Reason 2</td>
        </tr>
        <!-- End of Item -->

        <!-- Item -->
        <tr>
          <td>3</td>
          <td>creditor</td>
          <td>Reason 3</td>
        </tr>
        <!-- End of Item -->

        <!-- Item -->
        <tr>
          <td>4</td>
          <td>debtor</td>
          <td>Reason 4</td>
        </tr>
        <!-- End of Item -->

        <!-- Item -->
        <tr>
          <td>5</td>
          <td>creditor</td>
          <td>Reason 5</td>
        </tr>
        <!-- End of Item -->
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <!-- <button
      class="btn btn-success"
      type="button"
      (click)="confirm()"
      [disabled]="!registerForm.valid"
    >
      Create
    </button> -->

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
