<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Product Costing & Material Ledger
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm-3 col-md-6 col-lg-14 mb-3">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 text-center px-xl-0">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Total Volume</h2>
                    <h3 class="h3 mb-1 text-success">RM1,029.97</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-14 mb-3">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 text-center px-xl-0">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Average Transaction</h2>
                    <h3 class="h3 mb-1 text-success">RM9,283.23</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Total Payment Volume</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartproductioncosting1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Payment Source</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartproductioncosting2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Weekly Transaction</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartproductioncosting3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h5 class="h3 mt-2 mb-0">List of Transaction</h5>
            </div>
            <!-- <div class="col-md-6 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="openModal(createUser)"
              >
                Add New
              </button> -->
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="15" [selected]="entries == 15">15</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Type</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.type }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Amount (RM)</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.debit }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Total (RM)</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.credit }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  *ngIf="row.status == 'active'"
                  class="badge badge-pill badge-success"
                  >Paid</span
                >
                <span
                  *ngIf="row.status == 'inproduction'"
                  class="badge badge-pill badge-primary"
                  >Pending</span
                >
                <span
                  *ngIf="row.status == 'unactive'"
                  class="badge badge-pill badge-danger"
                  >Overdue</span
                >
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                                          <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                                      </button> -->
                <button
                  class="btn btn-icon btn-default btn-sm"
                  type="button"
                  title="Edit"
                  (click)="openModal(createUser)"
                >
                  <span class="btn-inner--icon">
                    <i class="far fa-eye"> </i>
                  </span>
                </button>
                <button
                  class="btn btn-icon btn-danger btn-sm"
                  type="button"
                  title="Delete"
                  (click)="delete()"
                >
                  <span class="btn-inner--icon">
                    <i class="fas fa-trash"> </i>
                  </span>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
